services:
  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DB_URL: "postgresql+psycopg://postgres:postgres@db:5432/postgres"
      REDIS_URL: "redis://redis:6379/0"
  db:
    image: "postgres:alpine"
    ports:
      - "5432:5432"
    command: ["postgres", "-c", "log_statement=all"]
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
